# Environments
.venv/
__pycache__/

# Kaggle Output
results/
temp/
kaggle_output/
benchmark_notebook/

# IDE
.idea/
.vscode/
md17_data/
processed/

# GCP Secrets
gcp_secret_dataset/
*.egg-info/
build/
dist/

#Paper
paper/
